{% extends 'core/base.html' %}
{% block title %} Community {% endblock%}
{% block content %}
<div class='max-w-screen-md mx-auto '>
    <div class='bg-blue-600 font-serif m-5 p-5 rounded-xl w-full text-center shadow-xl font-bold '>
        <h1 class='text-2xl'>Welcome to our community </h1>
    </div>
    <div class='bg-gray-400 m-5 p-5  w-full rounded-xl shadow-xl text-center'>
    <div class='mb-6 mt-4'>
        <h1 class='text-2xl font-semibold'> Your Topics</h1>
    </div>
    <div class='text-center'>
        {% for topic in user_topics %}
        <ul>
        <li><a href='{% url 'community:showmessage' topic.id %}' class='mx-auto  border bg-indigo-300 rounded-xl shadow-xl block w-1/3  p-3 mb-6 hover:bg-indigo-600'>{{topic.topic}}</a></li>
        </ul>
        {% endfor %}
    </div>
</div>
<div class='bg-gray-400 m-5 p-5 rounded-xl shadow-xl text-center w-full'>
    <div class='mb-6 mt-4'>
        <h1 class='text-2xl font-semibold'> Other Topics</h1>
    </div>
    <div class='mb-6 mt-4'>
        {% for topic in other_topics %}
        <ul>
       <li> <a href='{% url 'community:showmessage' topic.id %}' class='bg-indigo-300 hover:bg-indigo-600 mx-auto rounded-xl border shadow-xl block w-1/3  p-3 mb-6'>{{topic.topic}}</a></li>
        </ul>
        {% endfor %}
    </div>
    <a href='{% url 'community:newcommunity'  %}' class='bg-sky-950 border hover:bg-blue-950 rounded-xl shadow-xl w-full p-3 mb-6 mt-6'>Add new topic</a>
</div>
<div class='bg-gray-400 m-5 p-5 rounded-xl shadow-xl text-center w-full'>
        <div class='mb-8 mt-4 '>
            <h1 class='text-2xl font-semibold'>Please click below to review our app</h1>
        </div>
        <div class='mb-6 mt-6'>
            <a href='{% url 'community:newreview'  %}' class='bg-teal-600 border hover:bg-teal-800 rounded-xl shadow-xl p-3 m-3'>{{community.topic}}</a>
        </div>
    </div>
   
</div>
{% endblock %}