{% extends 'core/base.html' %}
{% block title %} New Review {% endblock%}
{% block content %}
<div class='max-w-screen-md mx-auto '>
    <div class='bg-blue-600 font-serif m-5 p-5 rounded-xl w-full text-center shadow-xl font-bold '>
        <h1 class='text-2xl'>Review App </h1>
    </div>
      
        <form method='post' action='.'>
         {% csrf_token %}
        {{ message_form.as_p }}
        <button class='py-4 px-8 text-md  bg-teal-500 rounded-xl hover:bg-teal-700 mt-3 mb-6'>submit</button>
                
    </form>
</div>
{% endblock %}