{% extends 'core/base.html' %}
{% block title %} Reviews {% endblock%}
{% block content %}
<div class='max-w-screen-md mx-auto '>
    <div class='bg-indigo-500 font-serif m-5 p-5 rounded-xl w-full text-center shadow-xl font-bold '>
        <h1 class='text-2xl'>Reviews </h1>
    </div>
    <div class='bg-gray-400 m-5 p-5  w-full rounded-xl shadow-xl text-center'>
    <div class='mb-6 mt-4'>
        {% for message in messages%}
        <div class='bg-gray-600 border m-5 shadow-xl p-5 rounded-xl'>
        <p class='mb-2'><strong>{{message.created_by.username}}</strong> @ {{message.created_at}}</p>
        <p class='text-md font-serif font-semibold mb-6 p-4'> {{message.content}}</p>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock%}